In [ ]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_fe.csv')
melb_df.head()

In [ ]:
import numpy as np

Задание 7.3


Дано две исходных таблицы:

In [5]:
data_1 = pd.DataFrame({'Value': [100, 45, 80],
                       'Group': [1, 4, 5]},
                      index = ['I0', 'I1', 'I2']
                     )
data_1

    Value  Group
I0    100      1
I1     45      4
I2     80      5

In [7]:
data_2 = pd.DataFrame({'Company': ['Google', 'Amazon', 'Facebook'],
                       'Add': ['S0', 'S1', 'S7']},
                      index = ['I0', 'I1', 'I3']
                     )
data_2

     Company Add
I0    Google  S0
I1    Amazon  S1
I3  Facebook  S7

Какой из перечисленных вариантов кода позволяет получить представленный ниже результат?

In [8]:
data_1.join(data_2,
            how='inner'
            )

    Value  Group Company Add
I0    100      1  Google  S0
I1     45      4  Amazon  S1

Задание 7.4

Даны две исходные таблицы:

In [10]:
a = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': [103, 214, 124], 'C': [1, 4, 2]})
b = pd.DataFrame({'V': ['d', 'b', 'c'], 'U': [1393.7, 9382.2, 1904.5], 'C': [1, 3, 2]})
a, b

(   A    B  C
 0  a  103  1
 1  b  214  4
 2  c  124  2,
    V       U  C
 0  d  1393.7  1
 1  b  9382.2  3
 2  c  1904.5  2)

Какой из перечисленных вариантов кода позволяет получить представленный ниже результат?

In [23]:
a.join(b.set_index('C'),
       on='C',
       how='right'
       )# Здесь индексы в формате float (0.0) и индекс 1 = NaN
# or
a.merge(b,
       on='C',
       how='right'
       )

     A      B  C  V       U
0    a  103.0  1  d  1393.7
1  NaN    NaN  3  b  9382.2
2    c  124.0  2  c  1904.5

Задание 7.5

Даны две таблицы: `items_df`, в которой содержится информация о наличии товаров на складе, и `purchase_df` с данными о покупках товаров.

Первая:  
`items_df = pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})`

Вторая:

`purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})`

Информация в таблицах представлена в виде следующих столбцов:

`item_id` — идентификатор модели;
`vendor` — производитель модели;
`stock_count` — имеющееся на складе количество данных моделей (в штуках);
`purchase_id` — идентификатор покупки;
`price` — стоимость модели в покупке.

Вам необходимо сделать следующее:
Сформируйте `DataFrame` `merged`, так чтобы после объединения `purchase_df` и `items_df` остались модели, которые учтены на складе и имели продажи.

На основе таблицы merged найдите суммарную выручку, которую можно было бы получить от продажи всех товаров, имеющихся на складе. Результат занесите в переменную `income`.

In [41]:
items_df = pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})
purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})
merged = items_df.merge(purchase_df,
               how='inner'
               )
merged
income_1 = merged['stock_count']*merged['price']
income = income_1.sum()
income

19729490