In [ ]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_fe.csv')
melb_df.head()

In [ ]:
import numpy as np

Задание 7.3


Дано две исходных таблицы:

In [ ]:
data_1 = pd.DataFrame({'Value': [100, 45, 80],
                       'Group': [1, 4, 5]},
                      index = ['I0', 'I1', 'I2']
                     )
data_1

In [ ]:
data_2 = pd.DataFrame({'Company': ['Google', 'Amazon', 'Facebook'],
                       'Add': ['S0', 'S1', 'S7']},
                      index = ['I0', 'I1', 'I3']
                     )
data_2

Какой из перечисленных вариантов кода позволяет получить представленный ниже результат?

In [ ]:
data_1.join(data_2,
            how='inner'
            )

Задание 7.4

Даны две исходные таблицы:

In [ ]:
a = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': [103, 214, 124], 'C': [1, 4, 2]})
b = pd.DataFrame({'V': ['d', 'b', 'c'], 'U': [1393.7, 9382.2, 1904.5], 'C': [1, 3, 2]})
a, b

Какой из перечисленных вариантов кода позволяет получить представленный ниже результат?

In [ ]:
a.join(b.set_index('C'),
       on='C',
       how='right'
       )# Здесь индексы в формате float (0.0) и индекс 1 = NaN
# or
a.merge(b,
       on='C',
       how='right'
       )

Задание 7.5

Даны две таблицы: `items_df`, в которой содержится информация о наличии товаров на складе, и `purchase_df` с данными о покупках товаров.

Первая:  
`items_df = pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})`

Вторая:

`purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})`

Информация в таблицах представлена в виде следующих столбцов:

`item_id` — идентификатор модели;
`vendor` — производитель модели;
`stock_count` — имеющееся на складе количество данных моделей (в штуках);
`purchase_id` — идентификатор покупки;
`price` — стоимость модели в покупке.

Вам необходимо сделать следующее:
Сформируйте `DataFrame` `merged`, так чтобы после объединения `purchase_df` и `items_df` остались модели, которые учтены на складе и имели продажи.

На основе таблицы merged найдите суммарную выручку, которую можно было бы получить от продажи всех товаров, имеющихся на складе. Результат занесите в переменную `income`.

In [ ]:
items_df = pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})
purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})
merged = items_df.merge(purchase_df,
               how='inner'
               )
merged
income_1 = merged['stock_count']*merged['price']
income = income_1.sum()
income

Для решения задач нам понадобится выделить из признака `title` год выпуска фильма. Для этого напишем функцию `get_year_release`(`arg`).

In [ ]:
#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None


Задание 8.1

Создайте в таблице новый признак `year_release`, который соответствует году выпуска фильма.
У скольких фильмов не указан год их выпуска?

In [ ]:
from collections import Counter
from collections import defaultdict

ratings_movies = pd.read_csv('data/movies_data/ratings_movies.csv').copy()

year_release_dict = defaultdict(list)
for i in range(ratings_movies['title'].shape[0]):
    year_release_dict['releas'].append(get_year_release(ratings_movies['title'][i]))

year_release = Counter(year_release_dict['releas'])
year_release[None]

In [ ]:
# ЗАДАНИЕ 8.1
# joined == ratings_movies
# joined['year_release'] = joined['title'].apply(get_year_release)
# joined.info()

Задание 8.2

Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?
В качестве ответа запишите название этого фильма без указания года его выпуска.

In [ ]:
release = pd.DataFrame(year_release_dict)
release

In [ ]:
ratings_movies_r = pd.concat([ratings_movies, release], axis=1)
ratings_movies_r

In [ ]:
ratings_movies_r[ratings_movies_r['releas'] == 1999].groupby('title')['rating'].mean().sort_values()

In [ ]:
# joined == ratings_movies_r
# mask = joined['year_release'] == 1999
# joined[mask].groupby('title')['rating'].mean().sort_values()