Задание 2.3 



Напишите функцию `delete_columns(df, col=[])`, которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None.

Пример DataFrame:


customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })
Примечание. Не забудьте импортировать библиотеки.

In [ ]:
import pandas as pd

customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

def delete_columns(df, col=[]):
    for i in col:
        if i in df.columns:
            dc_new = df.drop([i], axis=1)
        else:
            dc_new=None
    return dc_new

display(delete_columns(customer_df, ['number']))

Задание 2.4

Задан DataFrame `countries_df`, содержащий следующие столбцы: название страны, население (`population`) в миллионах человек и площадь страны (`square`) в квадратных километрах.  
countries_df = pd.DataFrame(  
    {  
        "country": [
            "Англия",
            "Канада",
            "США",
            "Россия",
            "Украина",
            "Беларусь",
            "Казахстан",
        ],  
        "population": [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],  
        "square": [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902],  
    }  
)  
Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).  

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до двух знаков после точки-разделителя.  

Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.

In [16]:
import pandas as pd

countries_df = pd.DataFrame(
    {
        "country": [
            "Англия",
            "Канада",
            "США",
            "Россия",
            "Украина",
            "Беларусь",
            "Казахстан",
        ],
        "population": [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
        "square": [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902],
    }
)

population_density = (countries_df["population"]*1000000)/countries_df["square"]
display(population_density)
display(round(population_density.mean(), 2))

0    421.976671
1      3.810842
2     32.796595
3      8.539467
4     75.377550
5     45.761079
6      6.253436
dtype: float64

84.93

ВВОДНЫЕ ДАННЫЕ ДЛЯ ВЫПОЛНЕНИЯ ЗАДАНИЙ 3.4-3.5

Вам представлены данные (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

В данных есть следующие признаки:

"City" — город, где был замечен НЛО;  
"Colors Reported" — цвет объекта;  
"Shape Reported" — форма объекта;  
"State" — обозначение штата;  
"Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым).   
Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже.

In [2]:
import pandas as pd

ufo = pd.read_csv('data/ufo.csv', sep=',')
ufo_c = ufo.copy()
ufo_c

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [4]:
ufo_c['Time'] = pd.to_datetime(ufo_c['Time'], dayfirst=False)
ufo_c

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,2000-12-31 23:00:00
18237,Spirit Lake,NaN,DISK,IA,2000-12-31 23:00:00
18238,Eagle River,NaN,NaN,WI,2000-12-31 23:45:00
18239,Eagle River,RED,LIGHT,WI,2000-12-31 23:45:00
18240,Ybor,NaN,OVAL,FL,2000-12-31 23:59:00

Задание 3.4

В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [5]:
ufo_c['Time'].mode()

0   1999-11-16 19:00:00
Name: Time, dtype: datetime64[ns]

Задание 3.5

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (`NV`).  
Чтобы выделить дату из столбца `Time`, можно воспользоваться атрибутом `datetime date`.

Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод `diff()`.

Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом `timedelta days`.

pandas.DataFrame.diff  
DataFrame.diff(periods=1, axis=0)

In [14]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'a': [1, 2, 3, 4, 5, 6],
                   'b': [1, 1, 2, 3, 5, 8],
                   'c': [1, 4, 9, 16, 25, 36]})
df
df.diff() # Difference with previous row
# df.diff(axis=1) # Difference with previous column
# df.diff(periods=3) # Difference with 3rd previous row
# df.diff(periods=-1) # Difference with following row

# # Overflow in input dtype
# df = pd.DataFrame({'a': [1, 0]}, dtype=np.uint8)
# df.diff()

     a    b     c
0  NaN  NaN   NaN
1  1.0  0.0   3.0
2  1.0  1.0   5.0
3  1.0  1.0   7.0
4  1.0  2.0   9.0
5  1.0  3.0  11.0

In [29]:
ufo_c['Date'] = ufo_c['Time'].dt.date # создали колонку с датами
round(ufo_c[ufo_c['State'] == 'NV']['Date'].diff().dt.days.mean())

69

На этот раз мы поговорим о спорте, а точнее — о велоспорте. 

Вашим заданием в этом модуле будет проанализировать и преобразовать данные о велопоездках клиентов компании Citi Bike (США), специализирующейся на прокате велосипедов.

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

`starttime` — время начала поездки (дата, время);  
`stoptime` — время окончания поездки (дата, время);  
`start station id` — идентификатор стартовой стоянки;  
`start station name` — название стартовой стоянки;  
`start station latitude, start station longitude` — географическая широта и долгота стартовой стоянки;  
`end station id` — идентификатор конечной стоянки;  
`end station name` — название конечной стоянки;  
`end station latitude, end station longitude` — географическая широта и долгота конечной стоянки;  
`bikeid` — идентификатор велосипеда;  
`usertype` — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);  
`birth year` — год рождения клиента;  
`gender` — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

Задание 6.1

Сколько пропусков в столбце `start station id`?

In [4]:
import pandas as pd

bicycle_df = pd.read_csv('data/citibike-tripdata.csv')
bicycle_df_c = bicycle_df.copy()
bicycle_df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

Задание 6.3

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [5]:
bicycle_df_c['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

Задание 6.4

Велосипед с каким идентификатором является самым популярным?

In [7]:
bicycle_df_c['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

Задание 6.5

Какой тип клиентов (столбец `usertype`) является преобладающим — `Subscriber` или `Customer`? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до двух знаков после точки-разделителя.

In [12]:
round(bicycle_df_c['usertype'].value_counts(normalize=True)[0], 2)

0.77

Задание 6.6

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [13]:
bicycle_df_c['gender'].value_counts()

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64