Задание 2.3 



Напишите функцию `delete_columns(df, col=[])`, которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None.

Пример DataFrame:


customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })
Примечание. Не забудьте импортировать библиотеки.

In [1]:
import pandas as pd

customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

def delete_columns(df, col=[]):
    for i in col:
        if i in df.columns:
            dc_new = df.drop([i], axis=1)
        else:
            dc_new=None
    return dc_new

display(delete_columns(customer_df, ['number']))

   cust_id  cust_age  cust_sale  cust_year_birth  cust_order
0      128        13       0.00             2008        1400
1     1201        21       0.00             2000       14142
2     9832        19       0.20             2002         900
3     4392        21       0.15             2000        1240
4     7472        60       0.30             1961        8430

Задание 2.4

Задан DataFrame `countries_df`, содержащий следующие столбцы: название страны, население (`population`) в миллионах человек и площадь страны (`square`) в квадратных километрах.  
countries_df = pd.DataFrame(  
    {  
        "country": [
            "Англия",
            "Канада",
            "США",
            "Россия",
            "Украина",
            "Беларусь",
            "Казахстан",
        ],  
        "population": [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],  
        "square": [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902],  
    }  
)  
Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).  

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до двух знаков после точки-разделителя.  

Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.

In [2]:
import pandas as pd

countries_df = pd.DataFrame(
    {
        "country": [
            "Англия",
            "Канада",
            "США",
            "Россия",
            "Украина",
            "Беларусь",
            "Казахстан",
        ],
        "population": [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
        "square": [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902],
    }
)

population_density = (countries_df["population"]*1000000)/countries_df["square"]
display(population_density)
display(round(population_density.mean(), 2))

0    421.976671
1      3.810842
2     32.796595
3      8.539467
4     75.377550
5     45.761079
6      6.253436
dtype: float64

84.93

ВВОДНЫЕ ДАННЫЕ ДЛЯ ВЫПОЛНЕНИЯ ЗАДАНИЙ 3.4-3.5

Вам представлены данные (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

В данных есть следующие признаки:

"City" — город, где был замечен НЛО;  
"Colors Reported" — цвет объекта;  
"Shape Reported" — форма объекта;  
"State" — обозначение штата;  
"Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым).   
Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже.

In [3]:
import pandas as pd

ufo = pd.read_csv('data/ufo.csv', sep=',')
ufo_c = ufo.copy()
ufo_c

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [4]:
ufo_c['Time'] = pd.to_datetime(ufo_c['Time'], dayfirst=False)
ufo_c

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,2000-12-31 23:00:00
18237,Spirit Lake,NaN,DISK,IA,2000-12-31 23:00:00
18238,Eagle River,NaN,NaN,WI,2000-12-31 23:45:00
18239,Eagle River,RED,LIGHT,WI,2000-12-31 23:45:00
18240,Ybor,NaN,OVAL,FL,2000-12-31 23:59:00

Задание 3.4

В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [5]:
ufo_c['Time'].mode()

0   1999-11-16 19:00:00
Name: Time, dtype: datetime64[ns]

Задание 3.5

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (`NV`).  
Чтобы выделить дату из столбца `Time`, можно воспользоваться атрибутом `datetime date`.

Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод `diff()`.

Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом `timedelta days`.

pandas.DataFrame.diff  
DataFrame.diff(periods=1, axis=0)

In [6]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'a': [1, 2, 3, 4, 5, 6],
                   'b': [1, 1, 2, 3, 5, 8],
                   'c': [1, 4, 9, 16, 25, 36]})
df
df.diff() # Difference with previous row
# df.diff(axis=1) # Difference with previous column
# df.diff(periods=3) # Difference with 3rd previous row
# df.diff(periods=-1) # Difference with following row

# # Overflow in input dtype
# df = pd.DataFrame({'a': [1, 0]}, dtype=np.uint8)
# df.diff()

     a    b     c
0  NaN  NaN   NaN
1  1.0  0.0   3.0
2  1.0  1.0   5.0
3  1.0  1.0   7.0
4  1.0  2.0   9.0
5  1.0  3.0  11.0

In [7]:
ufo_c['Date'] = ufo_c['Time'].dt.date # создали колонку с датами
round(ufo_c[ufo_c['State'] == 'NV']['Date'].diff().dt.days.mean())

69

На этот раз мы поговорим о спорте, а точнее — о велоспорте. 

Вашим заданием в этом модуле будет проанализировать и преобразовать данные о велопоездках клиентов компании Citi Bike (США), специализирующейся на прокате велосипедов.

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

`starttime` — время начала поездки (дата, время);  
`stoptime` — время окончания поездки (дата, время);  
`start station id` — идентификатор стартовой стоянки;  
`start station name` — название стартовой стоянки;  
`start station latitude, start station longitude` — географическая широта и долгота стартовой стоянки;  
`end station id` — идентификатор конечной стоянки;  
`end station name` — название конечной стоянки;  
`end station latitude, end station longitude` — географическая широта и долгота конечной стоянки;  
`bikeid` — идентификатор велосипеда;  
`usertype` — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);  
`birth year` — год рождения клиента;  
`gender` — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

Задание 6.1

Сколько пропусков в столбце `start station id`?

In [8]:
import pandas as pd

bicycle_df = pd.read_csv('data/citibike-tripdata.csv')
bicycle_df_c = bicycle_df.copy()
bicycle_df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

Задание 6.3

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [9]:
bicycle_df_c['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

Задание 6.4

Велосипед с каким идентификатором является самым популярным?

In [10]:
bicycle_df_c['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

Задание 6.5

Какой тип клиентов (столбец `usertype`) является преобладающим — `Subscriber` или `Customer`? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до двух знаков после точки-разделителя.

In [11]:
bicycle_df_c['starttime']

0         2018-09-01 00:00:05.2690
1         2018-09-01 00:00:11.2810
2         2018-09-01 00:00:20.6490
3         2018-09-01 00:00:21.7460
4         2018-09-01 00:00:27.3150
                    ...
299995    2018-09-05 19:08:27.8460
299996    2018-09-05 19:08:28.3700
299997    2018-09-05 19:08:27.5090
299998    2018-09-05 19:08:29.2300
299999    2018-09-05 19:08:29.7110
Name: starttime, Length: 300000, dtype: object

In [12]:
round(bicycle_df_c['usertype'].value_counts(normalize=True)[0], 2)

0.77

Задание 6.6

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [13]:
bicycle_df_c['gender'].value_counts()

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

Задание 6.7

Выберите утверждения,которые соответствуют нашим данным:

**A** Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу.

In [14]:
bicycle_df_c['start station id'].nunique() != bicycle_df_c['end station id'].nunique()

True

**B** В рассматриваемые дни минимальный возраст клиента составлял 10 лет.

In [15]:
bicycle_df_c['starttime'] = pd.to_datetime(bicycle_df_c['starttime'])
year = bicycle_df_c['starttime'].dt.year - bicycle_df_c['birth year']
year.min() == 10

False

**C** Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave".

In [16]:
bicycle_df_c['start station name'].value_counts().nsmallest(1).index[0] == "Eastern Pkwy & Washington Ave"

True

**D** Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail".

In [17]:
bicycle_df_c['end station name'].value_counts().nlargest(1).index[0] == "Liberty Light Rail"

False

Задание 6.8

В первую очередь удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [18]:
bicycle_df_c = bicycle_df_c.drop(['start station id', 'end station id'], axis=1)
bicycle_df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 27.5+ MB

Задание 6.9

Замените признак `birth year` на более понятный признак возраста клиента `age`. Годом отсчёта возраста выберите 2018 год. Столбец `birth year` удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [19]:
bicycle_df_c['age'] = 2018 - bicycle_df_c['birth year']
bicycle_df_c = bicycle_df_c.drop('birth year', axis=1)

In [20]:
bicycle_df_c[bicycle_df_c['age'] > 60]['age'].count()

11837

Задание 6.10

Создайте признак длительности поездки `trip duration`. Для этого вычислите интервал времени между временем окончания поездки (`stoptime`) и её началом (`starttime`). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [21]:
bicycle_df_c['stoptime'] = pd.to_datetime(bicycle_df_c['stoptime'])
bicycle_df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(3)
memory usage: 27.5+ MB

In [22]:
bicycle_df_c['trip duration'] = bicycle_df_c['stoptime'] - bicycle_df_c['starttime']

In [23]:
bicycle_df_c.loc[3, 'trip duration']

Timedelta('0 days 00:07:16.837000')

Задание 6.11

Создайте «признак-мигалку» `weekend`, который равен `1`, если поездка начиналась в выходной день (суббота или воскресенье), и `0` — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [24]:
week_end = bicycle_df_c['starttime'].dt.dayofweek
week_end

0         5
1         5
2         5
3         5
4         5
         ..
299995    2
299996    2
299997    2
299998    2
299999    2
Name: starttime, Length: 300000, dtype: int32

In [25]:
bicycle_df_c['weekend'] = week_end.apply(lambda x: 1 if x == 5 or x == 6 else 0)

In [26]:
bicycle_df_c['weekend'].value_counts()

weekend
0    184865
1    115135
Name: count, dtype: int64

Задание 6.12

Создайте признак времени суток поездки `time_of_day`. Время суток будем определять из часа начала поездки. Условимся, что:
поездка совершается ночью (`night`), если её час приходится на интервал от `0` (включительно) до `6` (включительно) часов;
поездка совершается утром (`morning`), если её час приходится на интервал от `6` (не включительно) до `12` (включительно) часов;
поездка совершается днём (`day`), если её час приходится на интервал от `12` (не включительно) до `18` (включительно) часов;
поездка совершается вечером (`evening`), если её час приходится на интервал от `18` (не включительно) до `23` часов (включительно).
Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целого числа.

In [30]:
def func_time_of_day(time):
    if time >= 0 and time <= 6:
        return 'night'
    if time > 6 and time <= 12:
        return 'morning'
    if time > 12 and time <= 18:
        return 'day'
    if time > 18 and time <= 23:
        return 'evening'
    
start_houer = bicycle_df_c['starttime'].dt.hour
    
bicycle_df_c['time_of_day'] = start_houer.apply(lambda x: func_time_of_day(x))
# или
# bicycle_df_c['time_of_day'] = start_houer.apply(func_time_of_day)
bicycle_df_c

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration,weekend,time_of_day
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000,1,night
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000,1,night
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000,1,night
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000,1,night
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000,1,night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,0 days 00:07:23.648000,0,evening
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,0 days 00:11:33.138000,0,evening
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,0 days 00:05:12.997000,0,evening
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,0 days 00:56:00.092000,0,evening
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,0 days 00:03:45.051000,0,evening

In [28]:
round(bicycle_df_c['time_of_day'].value_counts()['day']/bicycle_df_c['time_of_day'].value_counts()['night'])

9