**Задание 2.4**

Напишите функцию create_medications(names, counts), которая создает Series medications, индексами которой являются названия лекарств names, а значениями - их количество в поставке counts.

А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара с именем name от общего количества товаров в поставке в процентах.

Примечание. Не забудьте ипортировать библиотеки.

Пример:

names=['chlorhexidine', 'cyntomycin', 'afobazol']

counts=[15, 18, 7]

medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine"))

#37.5

In [ ]:
import pandas as pd

def create_medications(names, counts):
    series_medications = pd.Series(data=counts, index=names, name="Series medications")
    return series_medications

def get_percent(medications, name):
    percent = medications[name]/sum(medications[:])*100
    return percent

names=['chlorhexidine', 'cyntomycin', 'afobazol']

counts=[15, 18, 7]

medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine"))

#37.5

**Задание 3.5**

Вы работаете аналитиком в компании ScienceYou. Ваша задача — проанализировать чистую прибыль.

Доходы `(income)`, расходы `(expenses)` и годы `(years)`, соответствующие им, предоставлены вам в виде списков.

Например:


`income = [478, 512, 196]`

`expenses = [156, 130, 270]`

`years = [2018, 2019, 2020]`

Создайте функцию `create_companyDF(income, expenses, years)`, которая возвращает `DataFrame`, составленный из входных данных со столбцами `Income` и `Expenses` и индексами, соответствующими годам рассматриваемого периода.

Пример такого `DataFrame` представлен ниже.


    Income  Expenses

2018    478     156

2019    512     130

2020    196     270

Также напишите функцию `get_profit(df, year)`, которая возвращает разницу между доходом и расходом, записанными в таблице `df`, за год `year`.

Примечание. Если информация за запрашиваемый год не указана в вашей таблице, вам необходимо вернуть `None`.

Примечание. Не забудьте ипортировать библиотеки.

In [ ]:

import pandas as pd

def create_companyDF(income, expenses, years):
    
    companyDF = pd.DataFrame(dict(Income = income, Expenses = expenses), index = years)
       
    return companyDF

def get_profit(year=None, df=None):
    
    try:

        diferent = df.loc[year, "Income"] - df.loc[year, "Expenses"]
        
    except KeyError:
        return None

    return diferent


income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]


print(create_companyDF(income = [612, 516, 329, 158], expenses = [136, 163, 250, 361], years = [2017, 2018, 2019, 2020]))

print(get_profit(year = 2018, df = create_companyDF([612, 516, 329, 158], [136,163,250,361], [2017,2018,2019,2020])))

print(get_profit(year = 2013, df = create_companyDF([612, 516, 329, 158], [136,163,250,361], [2017,2018,2019,2020])))
#     Income  Expenses
# 2018    478     156
# 2019    512     130
# 2020    196     270

# 6/16  5. Знакомимся с данными: недвижимость

Данные представляют собой таблицу, в которой содержится 23 столбца:

`index` — номер строки  
`Suburb` — наименование пригорода  
`Address` — адрес  
`Rooms` — количество комнат в помещении  
`Type` — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)  
`Price` — цена помещения  
`Method` — метод продажи  
`SellerG` — риэлторская компания  
`Date` — дата продажи (в формате день/месяц/год)  
`Distance` — расстояния до объекта от центра Мельбурна  
`Postcode` — почтовый индекс  
`Bedroom` — количество спален  
`Bathroom` — количество ванных комнат  
`Car` — количество парковочных мест  
`Landsize` — площадь прилегающей территории  
`BuildingArea` — площадь здания  
`YearBuilt` — год постройки  
`CouncilArea` — региональное управление  
`Lattitude` — географическая широта  
`Longitude` — географическая долгота  
`Regionname` — наименование района Мельбурна  
`Propertycount` — количество объектов недвижимости в районе  
`Coordinates` — широта и долгота, объединённые в кортеж

In [ ]:
import pandas as pd

melb_data = pd.read_csv('pd_data/melb_data.csv', sep=',')

# Какова цена объекта недвижимости под индексом 15?
melb_data.loc[15, 'Price']

Задание 5.2

Когда был продан объект под индексом 90?

In [ ]:
melb_data.loc[90, 'Date']

Задание 5.3

Во сколько раз площадь прилегающей территории, на которой находится здание с индексом 3521, больше площади участка, на котором находится здание с индексом 1690? Ответ округлите до целого числа.

In [ ]:
melb_data.loc[3521, 'Landsize'] / melb_data.loc[1690, 'Landsize']

Сколько пропущенных значений в столбце `CouncilArea`?

In [ ]:
import pandas as pd
import numpy as np

melb_data.CouncilArea.isnull().sum()
# 1369

Сколько пропущенных значений в столбцах?

In [ ]:
melb_data.isnull().sum()

Сколько пропущенных значений в сумме по столбцам?

In [ ]:
melb_data.isnull().sum().sum()
# 1369

Задание 6.6

Сколько столбцов после преобразования типов имеет целочисленный тип данных?

In [ ]:
melb_data.dtypes [melb_data.dtypes == 'int64'].value_counts()

# int64    3
# Name: count, dtype: int64

 Среднее и медианное значения цены дома в таблице отличаются более чем в 10 раз?

In [ ]:
ddd = melb_data.describe().loc[:, 'Price']
display(ddd)

ddd.loc['mean'] / ddd.loc['50%']

# count    1.358000e+04
# mean     1.075684e+06
# std      6.393107e+05
# min      8.500000e+04
# 25%      6.500000e+05
# 50%      9.030000e+05
# 75%      1.330000e+06
# max      9.000000e+06
# Name: Price, dtype: float64
# 
# 1.1912337535493698

Половина проданных зданий находится на расстоянии от 6.1 до 13 километров от центра города?

In [ ]:
melb_data.describe(include=['object']).loc[:, :]

Задание 6.9

Сколько процентов от общего количества домов составляют таунхаусы (тип объекта — t)?
Ответ округлите до целого числа. Не указывайте знак %.

Чему равно максимальное количество домов на продажу в районе (Propertycount)?

In [ ]:
melb_data['Propertycount'].max()

Задание 7.3

Чему равно стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости?
Ответ округлите до целого числа.

In [ ]:
round(melb_data['Distance'].std())

Задание 7.4

Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?
Ответ округлите до целого числа. Не указывайте знак %.

In [ ]:
round((melb_data['BuildingArea'].median() - melb_data['BuildingArea'].mean())/melb_data['BuildingArea'].mean()*100)

Задание 7.5

Задан ряд чисел [1, 2, 4, 2, 3, 2, 1, 5, 6]. Чему равна мода в данном ряду?

In [ ]:
number = pd.DataFrame([1, 2, 4, 2, 3, 2, 1, 5, 6])
number.mode()

Задание 7.6

Сколько спален чаще всего встречается в домах в Мельбурне?

In [36]:
melb_data['Rooms'].mode()

0    3
Name: Rooms, dtype: int64

Задание 8.1

У скольких объектов недвижимости из таблицы `melb_data` отсутствуют ванные комнаты?

In [ ]:
melb_data[melb_data['Bathroom'] == 0].count()

Задание 8.2

Сколько в таблице `melb_data` объектов недвижимости, которые были проданы риелторской компанией Nelson и стоимость которых составила больше 3 миллионов?

In [21]:
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

5

Задание 8.3

Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице `melb_data`?
Запишите ответ в виде целого числа.

In [44]:
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

Задание 8.4

Какова средняя цена объектов недвижимости в таблице `melb_data` с ценой менее одного миллиона, в которых либо количество комнат больше пяти, либо здание моложе 2015 года?
Округлите ответ до целого числа.

In [24]:
round(melb_data[(melb_data['Price'] < 1000000) & ((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015))]['Price'].mean())

769239

Задание 8.5

В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов?

In [46]:
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

# 10/16  9. Закрепление знаний

Информация о столбцах таблицы:

`gender` — пол;  
`race/ethnicity` — раса/этническая принадлежность;  
`parental level of education` — уровень образования родителей;  
`lunch` — какие обеды получал студент во время обучения (`standard` — платный, `free/reduced` — бесплатный);  
`test preparation course` — посещал ли студент курсы подготовки к экзаменам (`none` — не посещал, `completed` — посещал);  
`math score`, `reading score`, `writing score` — баллы по математике, чтению и письму по сто балльной шкале.

In [47]:
import pandas as pd

student_data = pd.read_csv('pd_data/students_performance.csv')

In [48]:
student_data.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
student_data.shape
# (1000, 8)

Задание 9.2

Каков балл по письму у студента под индексом 155?

In [ ]:
student_data.iloc[155]

Задание 9.3

Сколько суммарно пропущенных значений в таблице?

In [54]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Задание 9.6

Каков у студентов средний балл по математике?
Округлите ответ до целого числа.

In [56]:
round(student_data['math score'].mean())

66

Задание 9.7

Какая расовая группа является самой крупной в учебном заведении?
В качестве ответа введите идентификатор группы (A, B, C, D, F).

In [57]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

Задание 9.8

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
Округлите ответ до целого числа.

In [59]:
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

74

Задание 9.9

Сколько студентов получили 0 баллов по математике?

In [61]:
student_data[student_data['math score'] == 0].shape[0]

1

Задание 9.10

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
Округлите ответ до целого числа.

In [65]:
round(student_data[student_data['lunch'] == 'standard']['math score'].mean())

70

In [66]:
round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())

59

Задание 9.11

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
Округлите ответ до целого числа.
Не указывайте знак %.

In [69]:
round(student_data['parental level of education'].value_counts(normalize=True)*100)

parental level of education
some college          23.0
associate's degree    22.0
high school           20.0
some high school      18.0
bachelor's degree     12.0
master's degree        6.0
Name: proportion, dtype: float64

Задание 9.12

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
Округлите ответ до целого и запишите модуль этого числа.

In [73]:
mask1 = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mask2 = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
round(mask1 - mask2)

-6

In [85]:
student_data['writing score'].cumsum()

0         74
1        162
2        255
3        299
4        374
       ...
995    67771
996    67826
997    67891
998    67968
999    68054
Name: writing score, Length: 1000, dtype: int64