**Задание 2.4**

Напишите функцию create_medications(names, counts), которая создает Series medications, индексами которой являются названия лекарств names, а значениями - их количество в поставке counts.

А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара с именем name от общего количества товаров в поставке в процентах.

Примечание. Не забудьте ипортировать библиотеки.

Пример:

names=['chlorhexidine', 'cyntomycin', 'afobazol']

counts=[15, 18, 7]

medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine"))

#37.5

In [3]:
import pandas as pd

def create_medications(names, counts):
    series_medications = pd.Series(data=counts, index=names, name="Series medications")
    return series_medications

def get_percent(medications, name):
    percent = medications[name]/sum(medications[:])*100
    return percent

names=['chlorhexidine', 'cyntomycin', 'afobazol']

counts=[15, 18, 7]

medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine"))

#37.5

37.5

**Задание 3.5**

Вы работаете аналитиком в компании ScienceYou. Ваша задача — проанализировать чистую прибыль.

Доходы `(income)`, расходы `(expenses)` и годы `(years)`, соответствующие им, предоставлены вам в виде списков.

Например:


`income = [478, 512, 196]`

`expenses = [156, 130, 270]`

`years = [2018, 2019, 2020]`

Создайте функцию `create_companyDF(income, expenses, years)`, которая возвращает `DataFrame`, составленный из входных данных со столбцами `Income` и `Expenses` и индексами, соответствующими годам рассматриваемого периода.

Пример такого `DataFrame` представлен ниже.


    Income  Expenses

2018    478     156

2019    512     130

2020    196     270

Также напишите функцию `get_profit(df, year)`, которая возвращает разницу между доходом и расходом, записанными в таблице `df`, за год `year`.

Примечание. Если информация за запрашиваемый год не указана в вашей таблице, вам необходимо вернуть `None`.

Примечание. Не забудьте ипортировать библиотеки.

In [68]:

import pandas as pd

def create_companyDF(income, expenses, years):
    
    companyDF = pd.DataFrame(dict(Income = income, Expenses = expenses), index = years)
       
    return companyDF

def get_profit(year=None, df=None):
    
    try:

        diferent = df.loc[year, "Income"] - df.loc[year, "Expenses"]
        
    except KeyError:
        return None

    return diferent


income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]


print(create_companyDF(income = [612, 516, 329, 158], expenses = [136, 163, 250, 361], years = [2017, 2018, 2019, 2020]))

print(get_profit(year = 2018, df = create_companyDF([612, 516, 329, 158], [136,163,250,361], [2017,2018,2019,2020])))

print(get_profit(year = 2013, df = create_companyDF([612, 516, 329, 158], [136,163,250,361], [2017,2018,2019,2020])))
#     Income  Expenses
# 2018    478     156
# 2019    512     130
# 2020    196     270

      Income  Expenses
2017     612       136
2018     516       163
2019     329       250
2020     158       361
353
None

# 6/16  5. Знакомимся с данными: недвижимость

Данные представляют собой таблицу, в которой содержится 23 столбца:

`index` — номер строки  
`Suburb` — наименование пригорода  
`Address` — адрес  
`Rooms` — количество комнат в помещении  
`Type` — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)  
`Price` — цена помещения  
`Method` — метод продажи  
`SellerG` — риэлторская компания  
`Date` — дата продажи (в формате день/месяц/год)  
`Distance` — расстояния до объекта от центра Мельбурна  
`Postcode` — почтовый индекс  
`Bedroom` — количество спален  
`Bathroom` — количество ванных комнат  
`Car` — количество парковочных мест  
`Landsize` — площадь прилегающей территории  
`BuildingArea` — площадь здания  
`YearBuilt` — год постройки  
`CouncilArea` — региональное управление  
`Lattitude` — географическая широта  
`Longitude` — географическая долгота  
`Regionname` — наименование района Мельбурна  
`Propertycount` — количество объектов недвижимости в районе  
`Coordinates` — широта и долгота, объединённые в кортеж

In [10]:
import pandas as pd

melb_data = pd.read_csv('pd_data/melb_data.csv', sep=',')

# Какова цена объекта недвижимости под индексом 15?
melb_data.loc[15, 'Price']

1310000.0

Задание 5.2

Когда был продан объект под индексом 90?

In [12]:
melb_data.loc[90, 'Date']

'10/09/2016'

Задание 5.3

Во сколько раз площадь прилегающей территории, на которой находится здание с индексом 3521, больше площади участка, на котором находится здание с индексом 1690? Ответ округлите до целого числа.

In [14]:
melb_data.loc[3521, 'Landsize'] / melb_data.loc[1690, 'Landsize']

2.7857142857142856

Сколько пропущенных значений в столбце `CouncilArea`?

In [ ]:
import pandas as pd
import numpy as np

melb_data.CouncilArea.isnull().sum()
# 1369

Сколько пропущенных значений в столбцах?

In [ ]:
melb_data.isnull().sum()

Сколько пропущенных значений в сумме по столбцам?

In [ ]:
melb_data.isnull().sum().sum()
# 1369

Задание 6.6

Сколько столбцов после преобразования типов имеет целочисленный тип данных?

In [ ]:
melb_data.dtypes [melb_data.dtypes == 'int64'].value_counts()

# int64    3
# Name: count, dtype: int64

 Среднее и медианное значения цены дома в таблице отличаются более чем в 10 раз?

In [ ]:
ddd = melb_data.describe().loc[:, 'Price']
display(ddd)

ddd.loc['mean'] / ddd.loc['50%']

# count    1.358000e+04
# mean     1.075684e+06
# std      6.393107e+05
# min      8.500000e+04
# 25%      6.500000e+05
# 50%      9.030000e+05
# 75%      1.330000e+06
# max      9.000000e+06
# Name: Price, dtype: float64
# 
# 1.1912337535493698

Половина проданных зданий находится на расстоянии от 6.1 до 13 километров от центра города?

In [30]:
melb_data.describe(include=['object']).loc[:, :]

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

Задание 6.9

Сколько процентов от общего количества домов составляют таунхаусы (тип объекта — t)?
Ответ округлите до целого числа. Не указывайте знак %.

Чему равно максимальное количество домов на продажу в районе (Propertycount)?

In [52]:
melb_data['Propertycount'].max()

21650.0

Задание 7.3

Чему равно стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости?
Ответ округлите до целого числа.

In [54]:
round(melb_data['Distance'].std())

6

Задание 7.4

Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?
Ответ округлите до целого числа. Не указывайте знак %.

In [56]:
round((melb_data['BuildingArea'].median() - melb_data['BuildingArea'].mean())/melb_data['BuildingArea'].mean()*100)

-10

Задание 7.5

Задан ряд чисел [1, 2, 4, 2, 3, 2, 1, 5, 6]. Чему равна мода в данном ряду?

In [59]:
number = pd.DataFrame([1, 2, 4, 2, 3, 2, 1, 5, 6])
number.mode()

   0
0  2

Задание 7.6

Сколько спален чаще всего встречается в домах в Мельбурне?

In [66]:
melb_data['Rooms'].mode()

0    3
Name: Rooms, dtype: int64

Задание 8.1

У скольких объектов недвижимости из таблицы `melb_data` отсутствуют ванные комнаты?

In [ ]:
melb_data[melb_data['Bathroom'] == 0].count()